/*////////////////////////////////////////////////////////////////////////
Table of Contents:
    1. Global Styles
    2. Typografie
    3. Areas
    4. Media Queries
////////////////////////////////////////////////////////////////////////*/

/*////////////////////////
    1. Global Styles
////////////////////////*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
ol, ul {
    list-style: none
}
:root {
    --europe: #F9D458;
    --africa: #5B76BC;
    --azie: #C2575e;
    --samerica: #80C18C;
    --namerica: #598051;
    --autralia: #9B5AB5;
    --yellow: #F9D458;
    --blue: #5B76BC;
    --red: #C2575e;
    --lightGreen: #80C18C;
    --green: #598051;
    --purple: #9B5AB5;
}
/*////////////////////////
    2. Typografie
////////////////////////*/
img {
    width: 100vw;
}
p {
    font-size: 12px;
}
/*////////////////////////
    3. Areas
////////////////////////*/
header{
    /*border: red dotted 2px;*/
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
}
h1 {
    display: flex;
    justify-content: center;
}
main {
    /*border: 3px solid var(--blue);*/
    background-color: ghostwhite;
    padding: 6px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    width:100%;

}
div {
    /*border:dashed blue 4px;*/
    flex-direction: row;
    justify-content: center;
    justify-items: center;
}
ul {
    /*border: 4px dashed var(--purple);*/
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: start;
    flex-wrap: wrap;
    overflow: auto;
    gap:4px;
}
li {
    display: flex;
    flex-direction: column;
    justify-items: center;
    width: 240px;
    box-shadow: grey;
    position: relative;
    gap: 6px;
}
article{
    /*border: 2px green solid;*/
}
.Europe {
    color: var(--europe);
}
.Asia {
    color: var(--azie);
}
.Africa {
    color: var(--africa);
}
.Oceania {
    color: var(--autralia);
}
.Americas {
    color: var(--samerica);
}
.namerica {
    color: var(--namerica);
}
.flag {
    width:36px
}